// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.spinner-border-md {
    width: 4rem;
    height: 4rem;
}

.spinner-border-lg {
    width: 6rem;
    height: 6rem;
}
